
*.aux
*.log
*.gz
*.pyc
*.pyc
code/.DS_Store
Documents/References/.DS_Store
code/.ipynb_checkpoints/Presentation-checkpoint.ipynb
code/.ipynb_checkpoints/Tax Calculator-checkpoint.ipynb
Documents/.DS_Store
Documents/References/.DS_Store
code/gradientOptimization/__pycache__/goptimization.cpython-37.pyc
code/.ipynb_checkpoints/Presentation-checkpoint.ipynb
code/.idea/misc.xml
code/.idea/code.iml
code/gradientOptimization/__pycache__/goptimization.cpython-37.pyc
code/.ipynb_checkpoints/Presentation-checkpoint.ipynb
code/.idea/misc.xml
code/.idea/code.iml
code/.ipynb_checkpoints/Presentation-checkpoint.ipynb
code/.ipynb_checkpoints/Presentation-checkpoint.ipynb
code/.ipynb_checkpoints/.DS_Store
code/.ipynb_checkpoints/Presentation-checkpoint.ipynb
code/gradientOptimization/.DS_Store
code/gradientOptimization/__pycache__/.DS_Store
code/.ipynb_checkpoints/Presentation-checkpoint.ipynb
code/.idea/.DS_Store
.DS_Store
